@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --header-height: 80px;
    --section-title-font-size: 24px;
    --off-white: rgb(252, 252, 253);
    --pink: rgb(222, 120, 159);
    --teal: rgb(121, 181, 191);
    --dark-gray: #333333;
    --medium-gray: #666666;
    --light-gray: #999999;
    --light-pink: rgb(232, 191, 208);
    --medium-pink: rgb(222, 181, 198);
    --light-green: rgb(178, 209, 146);
    --dark-green: rgb(101, 161, 171);
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 5rem;
    --font-family-base: Arial, sans-serif;
    --border-radius: 5px;
    --font-family-serif: 'Georgia', serif;
    --font-family-sans-serif: 'Arial', sans-serif;
}

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--off-white);
    color: var(--dark-gray);
    font-family: var(--font-family-serif);
    overflow-y: auto;
    overflow-x: hidden;
}

/* Header Styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--pink);
    z-index: 1000;
    box-shadow: none;
    border-bottom: none;
    height: var(--header-height);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-left h1,
.page-title,
.section-title {
    font-size: var(--section-title-font-size);
    color: var(--off-white);
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-weight: normal;
    font-family: var(--font-family-sans-serif);
}

.header-left h1 a,
.header-right a {
    color: var(--off-white);
    text-decoration: none;
    position: relative;
    transition: none;
}

.header-left h1 a::after,
.header-right a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--off-white);
    transition: width 0.3s ease;
}

.header-left h1 a:hover,
.header-right a:hover,
.header-right a:active,
.header-right a:focus {
    color: var(--off-white);
    /* Ensure text color remains off-white on hover */
}

.header-left h1 a:hover::after,
.header-right a:hover::after,
.header-right a:active::after,
.header-right a:focus::after {
    width: 100%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right a {
    font-size: 18px;
    opacity: 1;
}

.header-right a:hover,
.header-right a:active,
.header-right a:focus,
.header-right a:visited {
    opacity: 1;
    text-decoration: none;
    color: var(--off-white);
    /* Ensure text color remains off-white in all states */
}

.header-right a:focus {
    outline: none;
}

/* Initial View (Section 1) */
.initial-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
    background-color: var(--pink);
    position: relative;
    padding-top: calc(var(--header-height));
}

.main-title {
    font-size: var(--font-size-xxl);
    color: var(--off-white);
    margin-bottom: 2rem;
    font-weight: 700;
    display: inline-block;
}

.cursor {
    display: inline-block;
    color: var(--off-white);
    margin-left: 5px;
    /* Adjusted spacing */
    animation: blink .7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.center-form {
    width: 100%;
    max-width: 400px;
}

.newsletter-title {
    font-size: var(--font-size-xl);
    color: var(--off-white);
    margin-bottom: 1rem;
    font-weight: 500;
}

.center-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.center-form input[type="email"],
.center-form button {
    width: auto;
    min-width: 250px;
    padding: 12px 15px;
    font-size: 1.4rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.center-form input[type="email"] {
    background-color: var(--off-white);
}

.center-form input[type="email"]::placeholder {
    color: #aaa;
}

.center-form input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(121, 181, 191, 0.2);
}

.center-form button {
    padding: 12px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--teal);
    color: var(--off-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.center-form button:hover {
    background-color: var(--dark-green);
}

.message {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--off-white);
}

/* Latest Stories Section (Section 2) */
.latest-stories-section {
    height: 100vh;
    background-color: var(--pink);
    padding-top: 60px;
}

.latest-stories-section .content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.latest-stories-section .section-title {
    color: var(--off-white);
    margin-bottom: 30px;
}

/* Deep Dives Section (Section 3) */
.deep-dives-section {
    height: 100vh;
    background-color: var(--teal);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.deep-dives-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.deep-dives-section .section-title {
    color: var(--off-white);
    font-size: var(--section-title-font-size);
    margin-bottom: 20px;
}

.latest-stories-description,
.deep-dives-description {
    color: var(--off-white);
    font-size: var(--font-size-large);
    margin-bottom: 50px;
    margin-top: 40px;
}

.deep-dives-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.deep-dives-list li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 40px;
}

.deep-dives-list li::before {
    content: '•';
    color: var(--off-white);
    font-size: 2em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.deep-dives-list a {
    color: var(--off-white);
    text-decoration: none !important;
    font-size: var(--font-size-large);
    transition: none;
    display: inline-block;
    padding: 1px 0;
    position: relative;
    border-bottom: none;
}

.deep-dives-list a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 2px;
    left: 0;
    background-color: var(--off-white);
    transition: width 0.3s ease;
}

.deep-dives-list a:hover::after {
    width: 100%;
}

.deep-dives-list a:hover,
.deep-dives-list a:focus,
.deep-dives-list a:active {
    color: var(--off-white);
    text-decoration: none !important;
    border-bottom: none;
    outline: none;
}

@media (max-width: 768px) {
    .deep-dives-list li {
        padding-left: 30px;
    }

    .deep-dives-list a {
        font-size: var(--font-size-large);
    }
}

/* Game of Life Section (Section 4) */
.game-of-life-section {
    height: 100vh;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    border: none;

}

.game-of-life-section .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto 20px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.game-of-life-section .section-title {
    color: var(--pink);
    font-size: var(--section-title-font-size);
    margin: 0;
    text-transform: lowercase;
}

.game-of-life-section .section-instruction {
    color: var(--pink);
    font-weight: bold;
}

#gameCanvas {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid var(--pink);
    /* Keep this border for the canvas itself */
}

/* Scroll Arrow */
.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: var(--off-white);
    animation: bounce 2s infinite;
    cursor: pointer;
    padding: 10px;
    line-height: 1;
    z-index: 10;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translateX(-50%);
    }

    40% {
        transform: translateY(-10px) translateX(-50%);
    }

    60% {
        transform: translateY(-5px) translateX(-50%);
    }
}

/* Ensure parent sections have position: relative */
.initial-view,
.latest-stories-section,
.deep-dives-section,
.game-of-life-section {
    position: relative;
}

/* Adjust arrow color for game of life section if needed */
.game-of-life-section .scroll-arrow {
    color: var(--pink);
    /* or any color that contrasts well with the background */
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.card {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: var(--off-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 400px;
    /* Set a fixed height for the card */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-top: 0;
    font-size: 18px;
    color: var(--dark-gray);
    margin-bottom: 10px;
}

.card-content {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 14px;
    color: var(--medium-gray);
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
}

/* Optional: Style the scrollbars for WebKit browsers */
.card-content::-webkit-scrollbar {
    width: 6px;
}

.card-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.card-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

.card .misc {
    font-style: italic;
    color: var(--light-gray);
}

.card .links {
    margin-bottom: 10px;
}

.card .links a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: var(--light-pink);
    color: var(--dark-gray);
    text-decoration: none;
    border-radius: var(--border-radius);
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.card .links a:hover {
    background-color: var(--medium-pink);
}

.card .links .spotify-link {
    background-color: var(--light-green);
    color: var(--dark-gray);
}

.card .links .post-link {
    background-color: var(--teal);
    color: var(--off-white);
}

/* Section Titles */
.section-title {
    font-size: var(--section-title-font-size);
    color: var(--off-white);
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font-family: var(--font-family-sans-serif);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    /* ... the rest of your responsive styles ... */
}


/* Apply serif font to the body */
body {
    font-family: var(--font-family-serif);
    /* ... other existing styles ... */
}

/* Keep sans-serif for headers and banner */
header,
.header-left h1,
.header-right a,
.section-title,
.main-title {
    font-family: var(--font-family-sans-serif);
}

/* Apply serif to specific sections */
.center-form,
.newsletter-title,
.latest-stories-section .card-container,
.latest-stories-description,
.deep-dives-description,
.deep-dives-list a,
.game-of-life-section .section-instruction {
    font-family: var(--font-family-serif);
}

/* Keep sans-serif for section titles */
.section-title {
    font-family: var(--font-family-sans-serif);
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--pink);
    z-index: 1000;
    height: var(--header-height);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
    /* Adjust as needed */
}

.header-left h1 a {
    color: var(--off-white);
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Adjust the space between nav items */
}

.header-right a {
    color: var(--off-white);
    text-decoration: none;
    font-size: 18px;
    /* Adjust as needed */
    transition: opacity 0.3s ease;
}

.header-right a:hover {
    opacity: 0.8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .header-right {
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .header-right a {
        font-size: 16px;
        /* Smaller font size for mobile */
    }
}