<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>the corner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Add this line for the favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="banner" data-header-height="10">
        <div class="header-content">
            <div class="header-left">
                <h1><a href="{{ url_for('index') }}">the corner</a></h1>
            </div>
            <div class="header-right">
                <a href="#latest-stories" class="nav-link" id="latest-stories-link">latest stories</a>
                <a href="#deep-dives" class="nav-link" id="deep-dives-link">deep dives</a>
                <a href="#game-of-life" class="nav-link" id="game-of-life-link">game of life</a>
                <a href="https://www.linkedin.com/in/philippwarmer/" target="_blank" class="linkedin-link">contact</a>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <!-- Game of Life Scripts -->
    <script src="{{ url_for('static', filename='js/game_of_life.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const scrollToSection = function (sectionId, e) {
                e.preventDefault();
                const section = document.getElementById(sectionId);
                const header = document.querySelector('.banner');
                const headerHeight = header.offsetHeight;

                if (section) {
                    const elementPosition = section.getBoundingClientRect().top;
                    const offsetPosition = elementPosition + window.pageYOffset - headerHeight;

                    window.scrollTo({
                        top: offsetPosition,
                        behavior: "smooth"
                    });
                }
            };

            const navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(link => {
                link.addEventListener('click', function (e) {
                    const sectionId = this.getAttribute('href').substring(1);
                    scrollToSection(sectionId, e);
                });
            });

            // Optional: Scroll arrow to scroll to the next section
            const scrollArrow = document.querySelector('.scroll-arrow');
            if (scrollArrow) {
                scrollArrow.addEventListener('click', function () {
                    const nextSection = document.getElementById('latest-stories');
                    const header = document.querySelector('.banner');
                    const headerHeight = header.offsetHeight;

                    if (nextSection) {
                        const elementPosition = nextSection.getBoundingClientRect().top;
                        const offsetPosition = elementPosition + window.pageYOffset - headerHeight;

                        window.scrollTo({
                            top: offsetPosition,
                            behavior: "smooth"
                        });
                    }
                });
            }

            const gameOfLifeSection = document.getElementById('game-of-life');
            const canvas = document.getElementById('gameCanvas');
            if (gameOfLifeSection && canvas) {
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            initGameOfLife(canvas);
                            observer.unobserve(entry.target);
                        }
                    });
                }, { threshold: 0.1 });
                observer.observe(gameOfLifeSection);
            }

            document.addEventListener('DOMContentLoaded', function () {
                const text = "Tech in Switzerland";
                const typedTextSpan = document.getElementById("typed-text");
                const cursorSpan = document.querySelector(".cursor");

                const typingDelay = 100;
                const erasingDelay = 100;
                const newTextDelay = 2000; // Delay between current and next text
                let charIndex = 0;

                function type() {
                    if (charIndex < text.length) {
                        if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                        typedTextSpan.textContent += text.charAt(charIndex);
                        charIndex++;
                        setTimeout(type, typingDelay);
                    }
                    else {
                        cursorSpan.classList.remove("typing");
                    }
                }

                if (typedTextSpan) {
                    setTimeout(type, newTextDelay + 250);
                }
            });
        });
    </script>
</body>

</html>