{% extends "base.html" %}
{% block content %}
<div class="initial-view">
    <div class="center-form">
        <h2 class="newsletter-title">News & Views on Tech in Switzerland</h2>
        <form method="post" action="{{ url_for('index') }}">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Sign Up</button>
        </form>
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
    </div>
</div>
<div class="scrollable-content">
    <div class="content-container">
        <div class="content-preview">
            <h2 class="section-title">news & views</h2>
        </div>
        <div class="full-content">
            <div class="card-container">
                {% for item in news_items %}
                <div class="card">
                    <h3>{{ item.date }}</h3>
                    <div class="links">
                        {% if item.to_pod %}
                        <a href="{{ item.to_pod }}" target="_blank" class="spotify-link">Listen on Spotify</a>
                        {% endif %}
                        {% if item.to_post %}
                        <a href="{{ item.to_post }}" target="_blank" class="post-link">Read Full Post</a>
                        {% endif %}
                    </div>
                    <pre class="content">{{ item.content }}</pre>
                    {% if item.misc %}
                    <p class="misc">{{ item.misc }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<canvas id="gameCanvas"></canvas>
{% endblock %}